@import "tailwindcss";
@plugin "daisyui";

.adjust{
  width:170px;
  height:70px;
}

/* Hide scrollbar for horizontal scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}